<section class="bg-gradient-to-r from-brand-pink via-brand-purple to-brand-indigo bg-[length:200%_100%] animate-[gradient-pan_8s_ease-in-out_infinite] h-[80px] max-h-[164px] w-full py-4 flex items-center justify-center">
	<h2 class="text-center text-lg text-white sm:text-[48px]">
		PRODUCTOS
	</h2>
</section>
